@font-face {
	font-family: 'Euclid Circular A';
	src: url('../fonts/Euclid-Circular-A-Bold.ttf');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Euclid Circular A';
	src: url('../fonts/Euclid-Circular-A-Medium.ttf');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Euclid Circular A';
	src: url('../fonts/Euclid-Circular-A-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Floreste Wavy';
	src: url('../fonts/Floreste-Wavy.otf') format("opentype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Galdeano';
	src: url('../fonts/Galdeano-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Medium.ttf');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Le Murmure';
	src: url('../fonts/Le-Murmure-Regular.ttf');
	font-weight: 600;
	font-style: normal;
}