// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-biloba-flower: #AE97E8;
$color-melrose: #C5B0FA;
$color-pale-magneta: #FA8FEF;
$color-lavender-rose: #FFA8F6;
$color-fog: #CBB6FF;
$color-fog-alt: #DAD1F2;
$color-hawkes-blue: #C8DEFF;
$color-gainsboro: #D9D9D9;
$color-medium-purple: #9381D8;
$color-mindaro: #D9FF5A;
$color-christalle: #332065;
$color-turquoise: #29D0D9;
$color-romantic: #FFC4A5;
$color-magnolia: #EBE3FF;
$color-pale-cornflower-blue: #AECFFF;
$color-white-19: rgba($color-white, 0.19);
$color-mindaro-19: rgba($color-mindaro, 0.19);
$color-magnolia-19: rgba($color-magnolia, 0.19);
$color-white-20: rgba($color-white, 0.2);
$color-white-25: rgba($color-white, 0.25);
$color-white-30: rgba($color-white, 0.3);
$color-white-50: rgba($color-white, 0.5);
$color-white-60: rgba($color-white, 0.6);
$color-fog-40: rgba($color-fog, 0.4);
$color-fog-60: rgba($color-fog, 0.6);
$color-melrose-70: rgba($color-melrose, 0.7);
$color-christalle-18: rgba($color-christalle, 0.18);

// Typography
$ff-main: "Euclid Circular A", "Arial", sans-serif;
$ff-floreste: "Floreste Wavy", "Times New Roman", serif;
$ff-galdeano: "Galdeano", "Times New Roman", serif;
$ff-gilroy: "Gilroy", "Arial", sans-serif;
$ff-le-murmure: "Le Murmure", "Times New Roman", serif;

// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;

// Animation
$transition-500: ease-in 0.5s;
$transition-300: ease-in 0.3s;
