.blog-card {
	min-width: 580px;
	position: relative;
	display: grid;
	grid-template-columns: 1fr 283px;
	gap: 16px;
	outline: none;

	@include vp-767 {
		grid-template-columns: 1fr 1fr;
		min-width: 360px;
		padding: 0 0 35px;
		gap: 10px;
	}

	&:hover,
	&:focus-visible {
		.blog-card__label {
			color: $color-biloba-flower;
			background-color: $color-mindaro;
		}
	}

	&__bg {
		position: absolute;
		inset: 0;
		z-index: -1;
		color: $color-fog;

		@include vp-767 {
			display: none;
		}

		&-mobile {
			display: none;
			position: absolute;
			inset: 0;
			z-index: -1;
			color: $color-fog;

			@include vp-767 {
				display: flex;
			}
		}
	}

	&__content {
		padding: 22px 25px 19px 25px;
		display: flex;
		flex-direction: column;
		position: relative;

		@include vp-767 {
			padding: 10px 12px 27px 16px;
		}
	}

	&__top {
		margin: 0 0 26px;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 50px;

		@include vp-767 {
			margin: 0 0 35px;
		}
	}

	&__counter {
		font-size: 15px;
		line-height: 19px;
		color: $color-white-60;

		@include vp-767 {
			font-size: 13px;
			line-height: 20px;
		}
	}

	&__name {
		max-width: 90px;
		font-size: 18px;
		line-height: 22.82px;
		text-align: right;
		color: $color-white;

		@include vp-767 {
			max-width: 60px;
			font-size: 13px;
			line-height: 20px;
		}
	}

	&__title {
		margin: 0;
		font-weight: 500;
		font-size: 28px;
		line-height: 35.5px;
		color: $color-white;
		text-transform: uppercase;

		@include vp-767 {
			font-size: 15px;
			line-height: 19px;
		}
	}

	&__bottom {
		margin: auto 0 0;
		max-width: 90px;
	}

	&__date {
		display: grid;
		font-weight: 500;
		font-size: 15px;
		line-height: 19px;
		color: $color-white;
		text-transform: uppercase;

		@include vp-767 {
			font-size: 12px;
			line-height: 15.22px;
		}
	}

	&__label {
		width: 96px;
		height: 81px;
		position: absolute;
		right: 55px;
		bottom: -34px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border: 2px solid $color-mindaro;
		background-color: $color-white-19;
		border-radius: 50%;
		color: $color-white;
		transform: rotate(-15deg);
		transition: color $transition-300, background-color $transition-300;

		@include vp-767 {
			bottom: -27px;
			right: 32px;
			width: 65px;
			height: 57px;
		}

		&-count {
			font-family: $ff-floreste;
			font-weight: 400;
			font-size: 40px;
			line-height: 19px;
			letter-spacing: 0.04em;

			@include vp-767 {
				font-size: 25px;
				line-height: 18px;
			}
		}

		&-text {
			font-size: 18px;
			line-height: 19px;

			@include vp-767 {
				font-size: 15px;
				line-height: 15.22px;
			}
		}
	}

	&__pic {
		padding: 13px;
		overflow: hidden;

		@include vp-767 {
			padding: 10px;
		}
	}

	&__img {
		border-radius: 28px;
		width: 257px;
		height: 316px;

		@include vp-767 {
			border-radius: 16px;
			width: 156px;
			height: 223px;
			object-position: -22px;
		}
	}
}
