.blog {
	margin: 0 0 170px;

	@include vp-767 {
		margin: 0 0 57px;
	}

	&__top {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 100px;
		margin: 0 0 53px;

		@include vp-767 {
			margin: 0 0 35px;
		}

		&-left {
			display: flex;
			align-items: center;
			gap: 45px;

			@include vp-767 {
				gap: 20px;
			}
		}
	}

	&__pag {
		display: flex;
		align-items: center;
		gap: 7px;

		&-counter {
			width: 7px;
			height: 7px;
			border-radius: 50%;
			background-color: $color-white-30;

			&--current {
				background-color: $color-white;
			}
		}
	}

	&__title {
		margin: 0;
		font-weight: 500;
		font-size: 60px;
		line-height: 76px;
		text-transform: uppercase;
		color: $color-white;

		@include vp-767 {
			font-size: 23px;
			line-height: 29px;
		}
	}

	&__slider {
		display: flex;
		align-items: center;
		gap: 20px;
		transform: translateY(5px);

		@include vp-767 {
			transform: translate(6px, 5px);
		}

		&-count {
			font-family: $ff-floreste;
			font-weight: 400;
			font-size: 40px;
			line-height: 38px;
			letter-spacing: 0.04em;
			color: $color-white;

			@include vp-767 {
				font-size: 25px;
				line-height: 23.75px;
			}
		}

		&-line {
			width: 63px;
			height: 1px;
			margin: 0 13px 0 7px;
			background-color: $color-fog;
			transform: translateY(-6px);

			@include vp-767 {
				width: 36px;
				margin: 0;
			}
		}
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: flex;
		gap: 30px;

    @include vp-767 {
      flex-wrap: nowrap;
      overflow: auto;
      margin: 0 -14px;
      padding: 0 14px;
    }

    &::-webkit-scrollbar {
			display: none;
		}
	}

	&__item {
    @include vp-767 {
      width: 100%;
    }
	}
}
