.category-card {
	width: 100%;
	min-width: 427px;
	height: 517px;
	display: flex;
	flex-direction: column;
	padding: 40px 0 0;
	position: relative;

	@include vp-767 {
		height: 288px;
		min-width: 238px;
		padding: 20px 0 0;
	}

	&:hover,
	&:focus-visible {
		.btn {
			background-color: $color-mindaro;
		}
		.btn__icon {
			transform: scale(1.4);
			color: $color-biloba-flower;

			@include vp-767 {
				transform: scale(1.2);
			}
		}
		.category-card__img {
			transform: scale(1.1);
		}

		.category-card__note {
			transform: rotate(0);
		}
	}

	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 5px;
		z-index: -1;

		&-main {
			position: absolute;
			width: 388px;
			height: 462px;
			top: 0;
			left: 0;
			color: $color-fog;

			@include vp-767 {
				width: 216px;
				height: 256px;
			}
		}

		&-label {
			position: absolute;
			width: 95px;
			height: 200px;
			bottom: 90px;
			left: 15px;
			color: $color-white;

			@include vp-767 {
				bottom: 50px;
				left: 7px;
				width: 52px;
				height: 112px;
			}
		}
	}

	&__title {
		margin: 0;
		font-weight: 500;
		font-size: 28px;
		line-height: 35.5px;
		color: $color-white;
		max-width: 165px;
		text-transform: uppercase;

		@include vp-767 {
			max-width: 110px;
			font-size: 15px;
			line-height: 19px;
			padding: 0 0 4px;
		}
	}

	&__img {
		align-self: center;
		transform: translateX(-13px);
		transition: transform $transition-300;
		transform-origin: 120% 65%;

		@include vp-767 {
			transform: translateX(-8px);
			width: 111px;
		}

		&--alt {
			transform: translate(-15px, 7px);
			transform-origin: 150% 130%;

			@include vp-767 {
				width: 90px;
				transform: translate(-10px, -10px);
			}
		}

		&--alt-2 {
			transform: translate(-16px, 15px);

			@include vp-767 {
				transform: translate(-5px, -5px);
			}
		}
	}

	&__note {
		position: absolute;
		top: 150px;
		right: 0;
		transform: rotate(-23deg);
		width: 81px;
		height: 72px;
		border-radius: 50%;
		background-color: $color-pale-magneta;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		padding: 0 0 17px;
		gap: 2px;
		transition: transform $transition-300;
		color: $color-white;

		@include vp-767 {
			width: 46px;
			height: 40px;
			top: 84px;
			padding: 0 0 4px 2px;
		}

		&-counter {
			font-family: $ff-floreste;
			font-weight: 400;
			font-size: 40px;
			line-height: 28px;
			letter-spacing: 0.04em;

			@include vp-767 {
				font-size: 25px;
				line-height: 23.75px;
			}
		}

		&-text {
			font-size: 15px;
			line-height: 19.02px;
			text-transform: uppercase;

			@include vp-767 {
				font-size: 10px;
				line-height: 22px;
			}
		}

		&-bg {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -56%) rotate(23deg);
			width: 81px;
			height: 72px;
			color: $color-pale-magneta;
			z-index: -1;
		}
	}

	&__btn {
		width: 100px;
		height: 100px;
		position: absolute;
		bottom: 0;
		left: 150px;

		@include vp-767 {
			left: 83px;
			width: 56px;
			height: 56px;
		}
	}
}
