.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 46px 20px 46px 60px;
	display: grid;
	grid-template-columns: 460px 1fr auto;
	align-items: center;
	gap: 20px;
	z-index: 2;
	

	@include vp-767 {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 20px 15px;
	}

	&__left {
		display: flex;
		align-items: center;
		gap: 133px;
	}

	&__logo {
		display: flex;
		font-family: $ff-le-murmure;
		font-weight: 600;
		font-size: 45px;
		line-height: 50.45px;
		color: $color-white;
		outline: none;
		transition: color $transition-300;

		&:not(:disabled):hover,
		&:focus-visible {
			color: $color-mindaro;
		}

		@include vp-767 {
			font-size: 33px;
			line-height: 37px;
		}
	}

	&__link {
		padding: 0;
		background-color: transparent;
		border: none;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 12px;
		font-weight: 500;
		font-size: 18px;
		line-height: 22.82px;
		color: $color-white;
		cursor: pointer;
		outline: none;
		transition: color $transition-300;

		&:not(:disabled):hover,
		&:focus-visible {
			color: $color-mindaro;

			.header__link-icon {
				color: $color-mindaro;
				transform: scale(1.2);
			}
		}

		&-icon {
			display: flex;
			align-items: center;
			justify-content: center;
			color: inherit;
			transition: color $transition-300, transform $transition-300;
		}

		@include vp-767 {
			display: none;
		}
	}

	&__center {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 30px;

		@include vp-767 {
			display: none;
		}
	}

	&__right {
		display: grid;
		grid-template-columns: 340px 340px;
		gap: 20px;

		@include vp-767 {
			display: flex;
		}
	}

	&__user {
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 36px;

		&-item--mobile {
			display: none;

			@include vp-767 {
				display: flex;
			}
		}

		&-btn {
			padding: 0;
			background-color: transparent;
			border: none;
			display: flex;
			align-items: center;
			cursor: pointer;
			position: relative;
			outline: none;

			@include vp-767 {
				width: 24px;
				height: 24px;
				justify-content: center;
			}

			&::before {
				content: '';
				width: 36px;
				height: 36px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);

				@include vp-767 {
					width: 32px;
					height: 32px;
				}
			}

			&:disabled {
				opacity: 0.5;
				cursor: default;
			}

			&:not(:disabled):hover,
			&:focus-visible {
				.header__user-icon {
					color: $color-mindaro;
					transform: scale(1.2);
				}
			}
		}

		&-icon {
			color: $color-white;
			transition: color $transition-300, transform $transition-300;
		}

		@include vp-767 {
			gap: 18px;
		}
	}

	&__shopping-cart-counter {
		position: absolute;
		bottom: -10px;
		right: -6px;
		font-weight: 700;
		font-size: 13px;
		line-height: 23px;
		color: $color-white;
	}
}
