.hero {
	margin: 0 0 132px;
	padding: 20px 18px 21px 20px;

	@include vp-767 {
		padding: 14px 15px 20px 14px;
		margin: 0 0 94px;
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: flex;
		align-items: center;
		gap: 20px;
	}

	&__item {
		flex-grow: 1;
		transition: width 0.5s ease-in-out;

		&:hover,
		&:focus-within {
			width: 1160px;

			@include vp-767 {
				width: unset;
			}
		}

		&:not(:hover) {
			width: 340px;

			@include vp-767 {
				width: unset;
			}
		}

		&:not(:first-child) {
			@include vp-767 {
				display: none;
			}
		}
	}
}
