.lineages {
  width: 100%;
  margin: 0 0 153px;
  height: 262px;
  position: relative;
  overflow: hidden;

  @include vp-767 {
    margin: 0 0 50px;
    height: 207px;
  }

	&__unit {
    display: flex;
    align-items: center;
    gap: 67px;
    width: 101vw;
    min-width: 2560px;
    height: 72px;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;

    @include vp-767 {
      height: 42px;
      gap: 10px;
    }

    &--first {
      gap: 66px;
      top: 202px;
      background-color: pink;
      transform: rotate(5deg) translateX(-56%);

      @include vp-767 {
        padding: 11px 0 5px;
        gap: 10px;
        top: 265px;
        transform: rotate(9deg) translateX(-21%);
      }
		}

		&--secondary {
      gap: 67px;
      top: 45px;
      background-color: $color-pale-cornflower-blue;
      transform: rotate(-2deg) translateX(-45%);

      @include vp-767 {
        gap: 10px;
        top: -17px;
        transform: rotate(-4deg) translateX(-32%);
      }
		}
	}

  &__text {
    font-family: $ff-floreste;
    font-weight: 400;
    font-size: 40px;
    line-height: 38px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $color-white;
    white-space: nowrap;
    transform: translateY(5px);

    @include vp-767 {
      font-size: 25px;
      line-height: 23.75px;
    }
  }

  &__icon {
    width: 21px;
    height: 21px;
    flex-shrink: 0;

    @include vp-767 {
      width: 10px;
      height: 10px;
    }
  }
}
