.product-card {
  height: 100vh;
  padding: 60px 60px 73px;
  background-color: $color-biloba-flower;
  flex-direction: column;
  position: relative;

  &__top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 100px;
    margin: 0 0 115px;

    &-left {
      display: flex;
      flex-direction: column;
      gap: 140px;
    }

    &-right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 74px;
    }
  }

  &__img {
    position: absolute;
    top: 100px;
    left: 53.6%;
    transform: translateX(-50%);
    width: 552px;
    height: 795px;
  }

  &__info {
    max-width: 350px;
    margin: 17px 0 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 30.8px;
    color: $color-white;
  }

  &__name {
    font-family: $ff-floreste;
    font-weight: 400;
    font-size: 100px;
    line-height: 94px;
    text-transform: uppercase;
    color: $color-white;
  }

  &__price {
    display: flex;
    gap: 7px;
    align-items: flex-start;
    font-family: $ff-floreste;
    font-weight: 400;
    font-size: 40px;
    line-height: 38px;
    letter-spacing: 0.04em;
    color: $color-mindaro;

    &-currency {
      font-size: 20px;
      line-height: 20px;
    }
  }

  &__art {
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: $color-white;
    text-transform: uppercase;
  }

  &__color {
    display: flex;
    align-items: center;

    &-text {
      font-weight: 500;
      font-size: 18px;
      line-height: 22.82px;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      color: $color-white;
    }

    &-unit {
      margin: 0 12px 0 28px;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      border: 3px solid $color-white;
      background-color: $color-medium-purple;
    }
  }

  &__height {
    display: flex;
    align-items: center;
    gap: 18px;

    &-text,
    &-unit {
      font-weight: 500;
      font-size: 18px;
      line-height: 22.82px;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      color: $color-white;
    }
  }

  &__bg-title {
    margin: 0 0 48px;
    align-self: center;
    font-family: $ff-floreste;
    font-weight: 400;
    font-size: 354px;
    line-height: 336px;
    color: $color-fog-40;
    text-transform: uppercase;
    white-space: nowrap;
  }

  &__bottom {
    margin: 48px 0 0;
    display: grid;
    grid-template-columns: 1fr 430px 1fr;

    &-center {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__btn-purchase {
    justify-self: end;
    transform: translate(-6px, -8px);
  }

  &__btn-close {
    display: flex;
		align-items: center;
		gap: 17px;
		font-family: $ff-main;
    font-weight: 500;
		font-size: 18px;
		line-height: 22.82px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		position: relative;
    top: unset;
    right: unset;

    &::before {
      width: 130%;
			height: 200%;
    }
  }
}