.success-page {
	position: relative;
	overflow: hidden;

	&__wrapper {
		display: grid;
		grid-template-columns: repeat(3, auto);
		column-gap: 145px;
	}

	&__text {
		position: relative;
		top: 145px;
		font-weight: 500;
		font-size: 18px;
		line-height: 22.82px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: $color-white;

		&--align-right {
			justify-self: end;
		}
	}

	&__main-img {
		justify-self: end;
		width: 637px;
		height: 917px;
	}

	&__images {
    width: 90%;
		display: flex;
		align-items: center;
		gap: 100px;
		justify-content: space-between;
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translateX(-50%);
	}

	&__img {
    filter: drop-shadow(43.04px 43.04px 100px rgb(0, 0, 0, 0.2));

		&--darell {
      width: 158px;
      height: 224px;
      transform: translate(16px, -55px);
		}

		&--aubrey {
      width: 124px;
      height: 200px;
      transform: rotate(-13deg) translate(-152px, 45px);
		}

		&--copelia {
      width: 162px;
      height: 258px;
      transform: rotate(7deg) translate(160px, -74px);
		}

		&--leslie {
      width: 131px;
      height: 197px;
      transform: rotate(17deg) translate(7px, 120px);
		}
	}

	&__bg-text {
		position: absolute;
		top: 35%;
		left: 50%;
		transform: translateX(-51.5%);
		width: max-content;
		display: flex;
		align-items: center;
		gap: 110px;
		font-family: $ff-floreste;
		font-weight: 400;
		font-size: 212px;
		line-height: 201.4px;
		color: $color-fog-60;
		text-transform: uppercase;
		z-index: -1;
	}
}
