.user-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 30px;

	&__inner {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	&__btn {
    padding: 0;
		width: 120px;
		height: 81px;

    &--secondary {
      width: 188px;
      height: 96px;
      margin: 0 0 0 10px;
    }
	}
}

.user-form__btn.btn::before {
    transform: rotate(-15deg);
}

.user-form__btn.user-form__btn--secondary.btn::before {
  transform: rotate(-6deg);
}
